Repository BatohaShir/ZarFormative: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run type-check', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'npm run type-check'"]
}

feat: add translations to profile page
  components/my-profile-client.tsx
  messages/en.json
  messages/mn.json
  messages/ru.json
Due: bash -c 'npm run type-check', prettier --write

feat: add translations to auth forms and services pages
  app/page.tsx
  components/auth-modal.tsx
  components/auth/login-form.tsx
  components/auth/register-form.tsx
  components/mobile-bottom-nav.tsx
  components/service-detail-client.tsx
  components/services-list-client.tsx
  messages/en.json
  messages/mn.json
  messages/ru.json
Due: bash -c 'npm run type-check', prettier --write

fix: correct Mongolian translation for profile.about and profile.aboutCompany
  messages/mn.json
Due: prettier --write

fix: ensure language preference is saved to DB and synced on login
  contexts/auth-context.tsx
  hooks/use-locale.ts
Due: bash -c 'npm run type-check'

fix: add decimal.js dependency for Vercel build
  migrations/add_language_fields.sql
  package.json
  pnpm-lock.yaml
  supabase/.temp/cli-latest
  tests/e2e/create-listing.spec.ts
Due: bash -c 'npm run type-check', prettier --write

fix: simplify locale sync logic using sessionStorage
  contexts/auth-context.tsx
Due: bash -c 'npm run type-check'

feat: fully translate settings page to all languages (MN/RU/EN)
  app/account/me/settings/page.tsx
  messages/en.json
  messages/mn.json
  messages/ru.json
Due: bash -c 'npm run type-check', prettier --write

feat: add dev:stable script without Turbopack for low-memory systems
  package.json
Due: prettier --write

feat: add Sentry error monitoring and update Next.js to 16.1.5
  app/global-error.tsx
  lib/error-handler.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: bash -c 'npm run type-check', prettier --write

feat(requests): enable chat on all active stages and fix workflow UI
  app/account/me/requests/_components/request-detail-modal.tsx
  app/account/me/requests/_components/utils.ts
Due: bash -c 'npm run type-check'

fix(profile): eliminate white flash during profile page loading
  components/my-profile-client.tsx
Due: bash -c 'npm run type-check'

perf(locale): make language switch instant by not waiting for DB
  hooks/use-locale.ts
Due: bash -c 'npm run type-check'

fix(requests): persist tab and modal state in URL on page refresh
  app/account/me/requests/page.tsx
Due: bash -c 'npm run type-check'

perf(profile): add realtime updates and skeleton loading for /account/me
  components/my-profile-client.tsx
  components/profile-skeleton.tsx
  hooks/use-realtime-profile.ts
Due: bash -c 'npm run type-check'

feat(admin): add Users, Listings, and Requests management pages
  app/admin/layout.tsx
  app/admin/listings/page.tsx
  app/admin/page.tsx
  app/admin/requests/page.tsx
  app/admin/users/page.tsx
Due: bash -c 'npm run type-check'

fix(admin): code review improvements
  app/admin/listings/page.tsx
  app/admin/requests/page.tsx
  app/admin/users/page.tsx
Due: bash -c 'npm run type-check'

chore: add cross-env for Windows compatibility and regenerate hooks
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(requests): close modals on tab switch and optimize tab transitions
  app/account/me/requests/_components/request-detail-modal.tsx
  app/account/me/requests/page.tsx
Due: bash -c 'npm run type-check'

fix(requests): fix modal close button not working
  app/account/me/requests/_components/request-detail-modal.tsx
Due: bash -c 'npm run type-check'

fix(requests): prevent modal from reopening after close
  app/account/me/requests/page.tsx
Due: bash -c 'npm run type-check'

refactor: rename Uilchilgee.mn to Tsogts.mn across entire project
  CONTRIBUTING.md
  README.md
  app/account/[name]/public-profile-client.tsx
  app/account/me/favorites/page.tsx
  app/account/me/requests/page.tsx
  app/account/me/services/page.tsx
  app/layout.tsx
  app/page.tsx
  app/robots.ts
  app/services/[id]/layout.tsx
  app/services/[id]/page.tsx
  app/sitemap.ts
  components/auth-modal.tsx
  components/city-select.tsx
  components/create-listing-client.tsx
  components/footer.tsx
  components/my-profile-client.tsx
  components/service-detail-client.tsx
  components/services-list-client.tsx
  components/structured-data.tsx
  lib/notifications/index.ts
  public/sw.js
Due: bash -c 'npm run type-check', prettier --write

feat: add billboard ads system, Instagram-style ad stories, stats page, and profile improvements
  app/account/me/stats/page.tsx
  app/api/cron/cleanup-orphaned-files/route.ts
  app/globals.css
  app/page.tsx
  app/services/loading.tsx
  components/billboard/ad-stories.tsx
  components/billboard/billboard-banner.tsx
  components/billboard/billboard-card.tsx
  components/billboard/billboard-carousel.tsx
  components/billboard/billboard-slot.tsx
  components/billboard/billboard-tracker.tsx
  components/billboard/index.ts
  components/billboard/mock-data.ts
  components/billboard/mock-stories.ts
  components/billboard/types.ts
  components/my-profile-client.tsx
  components/services-list-client.tsx
  messages/en.json
  messages/mn.json
  messages/ru.json
Due: bash -c 'npm run type-check', prettier --write

fix: resolve map tiles not loading due to SSR error and CSP blocking
  components/services-map-leaflet.tsx
  components/services-map-utils.ts
  components/services-map.tsx
  middleware.ts
Due: bash -c 'npm run type-check'

fix: add "use client" to dynamic import pages for Next.js 16 build
  app/account/me/favorites/page.tsx
  app/account/me/requests/page.tsx
  app/account/me/services/page.tsx
  app/account/me/stats/page.tsx
Due: bash -c 'npm run type-check'

feat: ad stories system, VIP listing boosts, skeleton/header fixes
  app/account/[name]/loading.tsx
  app/account/me/favorites/loading.tsx
  app/account/me/loading.tsx
  app/account/me/notifications/loading.tsx
  app/account/me/requests/loading.tsx
  app/account/me/services/_components/services-client.tsx
  app/account/me/services/loading.tsx
  app/account/me/settings/loading.tsx
  app/account/me/stats/_components/stats-client.tsx
  app/account/me/stats/loading.tsx
  app/loading.tsx
  app/page.tsx
  app/services/create/loading.tsx
  app/services/loading.tsx
  components/app-header.tsx
  components/billboard/ad-stories.tsx
  components/billboard/types.ts
  components/listing-card.tsx
  components/profile-skeleton.tsx
  components/recommended-listings-ssr.tsx
  components/service-detail-client.tsx
  components/services-list-client.tsx
  contexts/auth-context.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/ad-stories.ts
  lib/hooks/index.ts
  lib/hooks/listing-boosts.ts
  lib/storage/ad-stories.ts
  prisma/schema.prisma
  schema.zmodel
  scripts/apply-ad-stories-policies.ts
  scripts/apply-ad-stories-storage.ts
  supabase/migrations/20260405_ad_stories_storage.sql
Due: bash -c 'npm run type-check'

fix: story ring renders full circle for single story instead of dot
  components/billboard/ad-stories.tsx
Due: bash -c 'npm run type-check'

chore: remove Agents directory
  Agents/Agent-1/skeleton/step-1/result.md
  Agents/Agent-1/skeleton/step-2/result.md
  Agents/Agent-1/skeleton/step-3/result.md
  Agents/Agent-1/step-1/result.md
  Agents/Agent-1/step-2/result.md
  Agents/Agent-1/step-3/result.md
  Agents/Agent-2/skeleton/step-1/result.md
  Agents/Agent-2/skeleton/step-2/result.md
  Agents/Agent-2/skeleton/step-3/result.md
  Agents/Agent-2/step-1/result.md
  Agents/Agent-2/step-2/result.md
  Agents/Agent-2/step-3/result.md
  Agents/Agent-3/skeleton/step-1/result.md
  Agents/Agent-3/skeleton/step-2/result.md
  Agents/Agent-3/skeleton/step-3/result.md
  Agents/Agent-3/step-1/result.md
  Agents/Agent-3/step-2/result.md
  Agents/Agent-3/step-3/result.md
  Agents/optimization_plan.md
  Agents/skeletons_fix.md
Due: prettier --write

perf: comprehensive performance optimization across 18 files
  app/account/me/services/_components/services-client.tsx
  app/admin/aimags/page.tsx
  app/admin/categories/page.tsx
  app/admin/districts/page.tsx
  app/admin/khoroos/page.tsx
  app/admin/listings/page.tsx
  app/admin/requests/page.tsx
  app/admin/users/page.tsx
  components/auth-modal.tsx
  components/billboard/ad-stories.tsx
  components/favorites-button.tsx
  components/listing-card.tsx
  components/mobile-bottom-nav.tsx
  components/notifications/notification-bell.tsx
  components/realtime-connection-banner.tsx
  components/search-input.tsx
  components/service-card.tsx
  components/services-list-client.tsx
Due: bash -c 'npm run type-check'

refactor(db): consolidate prisma client and fix utility hacks
  .gitignore
  lib/prisma-utils.ts
  lib/prisma.ts
  prisma/enhanced.ts
  prisma/index.ts
Due: bash -c 'npm run type-check'

chore: remove dependabot config
  .github/dependabot.yml
  prisma/backups/aimags_backup.csv
  prisma/backups/categories_backup.csv
  prisma/backups/districts_backup.csv
  prisma/backups/khoroos_backup.csv
Due: none

fix(rbac): harden zmodel policies against impersonation and abuse
  lib/hooks/__model_meta.ts
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

feat(db): data integrity, denormalized counter triggers, dedup indexes
  .gitignore
  schema.zmodel
  supabase/.temp/cli-latest
  supabase/migrations/20260417_wave3_integrity.sql
Due: none

feat(db): Mongolian fulltext support and retention cron jobs
  app/api/search/route.ts
  supabase/migrations/20260417000001_wave4_fulltext_mongolian.sql
  supabase/migrations/20260417000002_wave4_ttl_cron.sql
Due: bash -c 'npm run type-check'

refactor(db): consolidate migrations into supabase/migrations/
  .gitignore
  supabase/migrations/20260113000000_push_notifications.sql
  supabase/migrations/20260113000001_add_indexes.sql
  supabase/migrations/20260115000000_categories_storage.sql
  supabase/migrations/20260119000000_manual_fulltext.sql
  supabase/migrations/20260121000000_add_listing_requests.sql
  supabase/migrations/20260122000000_cuid_to_uuid.sql
  supabase/migrations/20260122000001_enable_realtime_notifications.sql
  supabase/migrations/20260122000002_expire_requests_cron.sql
  supabase/migrations/20260123000000_chat_attachments.sql
  supabase/migrations/20260124000000_add_performance_indexes.sql
  supabase/migrations/20260124000001_work_completion_photos.sql
  supabase/migrations/20260124000002_fix_work_completion_photos_rls.sql
  supabase/migrations/20260124000003_completion_flow_fields.sql
  supabase/migrations/20260128000000_enable_realtime.sql
  supabase/migrations/20260129000000_add_optimization_indexes.sql
  supabase/migrations/20260201000000_add_language_fields.sql
  supabase/migrations/20260405000000_ad_stories_storage.sql
  supabase/migrations/20260417000000_wave3_integrity.sql
Due: none

feat(auth): password reset flow, stronger validation, real stats, legal pages
  app/auth/reset-password/page.tsx
  app/privacy/page.tsx
  app/terms/page.tsx
  components/auth/login-form.tsx
  components/auth/register-form.tsx
  components/auth/user-menu.tsx
  contexts/auth-context.tsx
  hooks/use-current-user.ts
  messages/en.json
  messages/mn.json
  messages/ru.json
Due: bash -c 'npm run type-check', prettier --write

perf(home): narrow queries and slim RSC payload
  app/page.tsx
  components/categories-modal.tsx
  components/categories-section-ssr.tsx
  components/listing-card.tsx
Due: bash -c 'npm run type-check'

perf(home): collapse 5 prisma round-trips into a single raw query
  app/page.tsx
Due: bash -c 'npm run type-check'

feat(home): editorial-minimal redesign with full-text search
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/billboard/ad-stories.tsx
  components/categories-section-ssr.tsx
  components/footer.tsx
  components/hero-search.tsx
  components/hero-title.tsx
  components/listing-card-skeleton.tsx
  components/listing-card.tsx
  components/recommended-listings-ssr.tsx
  components/search-input.tsx
  components/services-list-client.tsx
  components/site-header.tsx
  messages/en.json
  messages/mn.json
  messages/ru.json
Due: bash -c 'npm run type-check', prettier --write
