Repository BatohaShir/ZarFormative: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run type-check', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'npm run type-check'"]
}

fix: CSRF middleware 403'd every Server Action in prod + clearer P2002 toast
  components/request-form.tsx
  middleware.ts
Due: bash -c 'npm run type-check'

fix: provider report submits without photos + chat instant render
  app/account/me/requests/_components/request-chat.tsx
  app/actions/request-transition.ts
  components/app-header.tsx
  components/auth-modal.tsx
  components/footer.tsx
  components/site-header.tsx
  public/logo.png
Due: bash -c 'npm run type-check'

perf(notifications): prefetch list on bell hover so dropdown opens warm
  components/notifications/notification-bell.tsx
Due: bash -c 'npm run type-check'

feat(notifications): hide read rows after "mark all as read"
  components/notifications/notification-bell.tsx
Due: bash -c 'npm run type-check'

fix(requests): close button works after deeplinking from a notification
  app/account/me/requests/_components/requests-client.tsx
  components/app-header.tsx
  components/auth-modal.tsx
  components/footer.tsx
  components/site-header.tsx
  public/logo.png
Due: bash -c 'npm run type-check'

chore(mn): brand-aligned hero copy and tighter notification meta row
  components/notifications/notification-item.tsx
  messages/mn.json
Due: bash -c 'npm run type-check', prettier --write

fix(services): listing skeleton flashed on first navigation to a service detail
  app/services/[id]/layout.tsx
Due: bash -c 'npm run type-check'

feat(services-map): flag VIP clusters with amber/crown marker
  components/services-list-client.tsx
  components/services-map-leaflet.tsx
  components/services-map.tsx
Due: bash -c 'npm run type-check'

chore(admin): remove web admin UI — moving to mobile app
  app/account/me/stats/_components/stats-client.tsx
  app/admin/aimags/loading.tsx
  app/admin/aimags/page.tsx
  app/admin/categories/loading.tsx
  app/admin/categories/page.tsx
  app/admin/districts/loading.tsx
  app/admin/districts/page.tsx
  app/admin/error.tsx
  app/admin/khoroos/loading.tsx
  app/admin/khoroos/page.tsx
  app/admin/layout.tsx
  app/admin/listings/loading.tsx
  app/admin/listings/page.tsx
  app/admin/loading.tsx
  app/admin/page.tsx
  app/admin/requests/loading.tsx
  app/admin/requests/page.tsx
  app/admin/users/loading.tsx
  app/admin/users/page.tsx
  components/app-header.tsx
  components/auth-modal.tsx
  components/billboard/ad-stories.tsx
  components/site-header.tsx
  middleware.ts
  public/logo.svg
Due: bash -c 'npm run type-check'

chore(security): harden JSON-LD, cron auth, CSP, sanitization
  app/account/[name]/page.tsx
  app/account/me/services/_components/services-client.tsx
  app/api/cron/cleanup-orphaned-files/route.ts
  app/api/cron/expire-requests/route.ts
  app/api/health/route.ts
  app/api/listings/[id]/view/route.ts
  app/services/[id]/page.tsx
  components/structured-data.tsx
  lib/cron-auth.ts
  lib/json-ld.ts
  lib/schemas/listing.ts
  middleware.ts
  sentry.client.config.ts
Due: bash -c 'npm run type-check'

fix(security): close anonymous data exposure in production database
  SECURITY_PLAN.md
  supabase/migrations/20260820000000_rls_lockdown.sql
  supabase/migrations/20260820000001_profiles_pii_lockdown.sql
  supabase/migrations/20260820000002_function_hardening.sql
  supabase/migrations/20260820000003_fix_expire_overdue_requests.sql
Due: prettier --write

fix: harden /api/search input, apply CSRF to /api/*, stop price hydration mismatch
  app/api/search/route.ts
  lib/utils.ts
  middleware.ts
Due: bash -c 'npm run type-check'

fix(services): listing skeleton showed instead of the service detail page
  app/services/[id]/layout.tsx
Due: bash -c 'npm run type-check'

feat(orpc): add oRPC layer and migrate reference data + favorites
  .mcp.json
  ORPC_MIGRATION.md
  __tests__/contexts/favorites-context.test.tsx
  app/api/orpc/[[...rest]]/route.ts
  components/address-select-modal.tsx
  components/categories-modal.tsx
  components/category-filter-modal.tsx
  components/city-select.tsx
  contexts/favorites-context.tsx
  lib/orpc/base.ts
  lib/orpc/client.ts
  lib/orpc/context.ts
  lib/orpc/router.ts
  lib/orpc/routers/categories.ts
  lib/orpc/routers/favorites.ts
  lib/orpc/routers/locations.ts
  lib/orpc/server.ts
  package-lock.json
  package.json
Due: bash -c 'npm run type-check', prettier --write
