Repository BatohaShir/ZarFormative: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run type-check', prettier --write

feat: заменить сообщения на заявки, убрать Google-регистрацию
  app/account/[name]/page.tsx
  app/account/me/page.tsx
  app/favorites/page.tsx
  app/globals.css
  app/messages/page.tsx
  app/page.tsx
  app/requests/page.tsx
  app/services/[id]/page.tsx
  app/services/page.tsx
  components/auth-modal.tsx
  components/footer.tsx
  components/mobile-bottom-nav.tsx
  components/requests-button.tsx
  components/service-request-modal.tsx
  components/ui/badge.tsx
  components/ui/dialog.tsx
  components/ui/input.tsx
  image.png
Due: bash -c 'npm run type-check'

feat: улучшить дизайн страниц профиля и провайдера
  app/account/[name]/page.tsx
  app/account/me/page.tsx
  components/auth-modal.tsx
  components/login-prompt-modal.tsx
Due: bash -c 'npm run type-check'

feat: migrate to Supabase + ZenStack + TanStack Query
  app/api/auth/[...nextauth]/route.ts
  app/api/auth/register/route.ts
  app/api/model/[...path]/route.ts
  app/api/services/[id]/route.ts
  app/api/services/route.ts
  app/layout.tsx
  components/chat-modal.tsx
  components/mobile-menu.tsx
  components/profile-content.tsx
  lib/auth.ts
  lib/hooks/__model_meta.ts
  lib/hooks/account.ts
  lib/hooks/category.ts
  lib/hooks/conversation.ts
  lib/hooks/education.ts
  lib/hooks/favorite.ts
  lib/hooks/feature.ts
  lib/hooks/index.ts
  lib/hooks/message.ts
  lib/hooks/review.ts
  lib/hooks/service.ts
  lib/hooks/session.ts
  lib/hooks/user.ts
  lib/hooks/verification-token.ts
  lib/hooks/work-experience.ts
  lib/supabase/client.ts
  lib/supabase/middleware.ts
  lib/supabase/server.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
  prisma/enhanced.ts
  prisma/index.ts
  prisma/schema.prisma
  providers/query-provider.tsx
  schema.zmodel
  types/next-auth.d.ts
Due: bash -c 'npm run type-check', prettier --write

refactor: clean database, keep only profiles table
  .gitignore
  app/account/me/page.tsx
  components/auth-modal.tsx
  components/login-prompt-modal.tsx
  contexts/auth-context.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/account.ts
  lib/hooks/category.ts
  lib/hooks/conversation.ts
  lib/hooks/education.ts
  lib/hooks/favorite.ts
  lib/hooks/feature.ts
  lib/hooks/index.ts
  lib/hooks/message.ts
  lib/hooks/profiles.ts
  lib/hooks/review.ts
  lib/hooks/service.ts
  lib/hooks/session.ts
  lib/hooks/user.ts
  lib/hooks/verification-token.ts
  lib/hooks/work-experience.ts
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

feat: add company fields and soft delete to profiles
  app/account/me/page.tsx
  components/auth-modal.tsx
  contexts/auth-context.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/profiles.ts
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

feat: add push notifications system (ZAR-11)
  app/account/me/page.tsx
  app/account/notifications/page.tsx
  app/api/notifications/settings/route.ts
  app/api/notifications/subscribe/route.ts
  app/api/notifications/unsubscribe/route.ts
  app/layout.tsx
  components/notification-banner.tsx
  components/notification-prompt.tsx
  components/ui/switch.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/index.ts
  lib/hooks/profiles-notification-settings.ts
  lib/hooks/profiles-push-subscriptions.ts
  lib/notifications/index.ts
  package.json
  prisma/schema.prisma
  public/sw.js
  schema.zmodel
  supabase/.temp/cli-latest
  supabase/migrations/20250113_push_notifications.sql
Due: bash -c 'npm run type-check', prettier --write

feat: add database indexes, profile editing modal, and loading skeletons
  app/account/me/page.tsx
  components/edit-profile-modal.tsx
  contexts/auth-context.tsx
  hooks/index.ts
  hooks/use-current-user.ts
  hooks/use-educations.ts
  hooks/use-work-experiences.ts
  lib/hooks/__model_meta.ts
  lib/hooks/index.ts
  lib/hooks/profiles-educations.ts
  lib/hooks/profiles-work-experiences.ts
  prisma/schema.prisma
  schema.zmodel
  supabase/migrations/20260113_add_indexes.sql
Due: bash -c 'npm run type-check'

fix: add types and install missing radix-ui switch package
  app/account/notifications/page.tsx
  components/auth-modal.tsx
  pnpm-lock.yaml
Due: bash -c 'npm run type-check'

feat: add SEO and marketing tools (ZAR-13)
  app/layout.tsx
  app/robots.ts
  app/services/[id]/layout.tsx
  app/services/[id]/page.tsx
  app/sitemap.ts
  components/social-share-buttons.tsx
  components/structured-data.tsx
Due: bash -c 'npm run type-check'

perf: add comprehensive database indexes for query optimization
  prisma/schema.prisma
  schema.zmodel
Due: none

feat: add "About me" section and optimize performance
  app/account/me/page.tsx
  app/services/page.tsx
  components/auth-modal.tsx
  components/auth/autocomplete-input.tsx
  components/auth/constants.ts
  components/auth/education-section.tsx
  components/auth/index.ts
  components/auth/work-experience-section.tsx
  components/categories-modal.tsx
  components/footer.tsx
  components/search-input.tsx
  components/service-card.tsx
  hooks/index.ts
  hooks/use-auth.ts
  hooks/use-current-user.ts
  hooks/use-educations.ts
  hooks/use-work-experiences.ts
  lib/hooks/__model_meta.ts
  lib/hooks/profiles.ts
  lib/utils.ts
  next.config.ts
  prisma/index.ts
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

refactor: improve security, performance and code organization
  __tests__/contexts/favorites-context.test.tsx
  app/account/me/page.tsx
  app/api/notifications/settings/route.ts
  app/api/notifications/subscribe/route.ts
  app/favorites/page.tsx
  components/auth-modal.tsx
  components/auth/login-form.tsx
  components/auth/register-form.tsx
  components/auth/user-menu.tsx
  components/mobile-bottom-nav.tsx
  contexts/favorites-context.tsx
  lib/rate-limit.ts
  prisma/enhanced.ts
  prisma/index.ts
Due: bash -c 'npm run type-check'

feat: add app settings page with server sync
  app/account/me/page.tsx
  app/account/me/settings/page.tsx
  app/api/notifications/settings/route.ts
  components/auth/user-menu.tsx
  hooks/use-auth.ts
  hooks/use-current-user.ts
  lib/supabase/client.ts
Due: bash -c 'npm run type-check'

feat: add categories management with admin panel and RBAC
  app/admin/categories/page.tsx
  app/admin/layout.tsx
  app/admin/page.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/categories.ts
  lib/hooks/index.ts
  lib/hooks/profiles.ts
  lib/storage/categories.ts
  lib/storage/index.ts
  prisma/enhanced.ts
  prisma/schema.prisma
  public/icons/free-icon-delivery-truck-5470239.png
  schema.zmodel
  scripts/apply-storage-migration.ts
  scripts/apply-storage-policies.ts
  supabase/migrations/20260115_categories_storage.sql
Due: bash -c 'npm run type-check'

feat: add listings model and replace mock data with database queries
  app/page.tsx
  app/services/page.tsx
  components/categories-modal.tsx
  components/categories-section.tsx
  components/category-filter-modal.tsx
  components/listing-card.tsx
  components/recommended-listings.tsx
  components/search-input.tsx
  components/ui/skeleton.tsx
  lib/categories.ts
  lib/hooks/__model_meta.ts
  lib/hooks/index.ts
  lib/hooks/listings-images.ts
  lib/hooks/listings.ts
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

feat: add views tracking system and improve account page
  app/account/[name]/page.tsx
  app/api/listings/[id]/view/route.ts
  app/services/[id]/page.tsx
  app/services/page.tsx
  components/city-select.tsx
  components/listing-card.tsx
  components/recommended-listings.tsx
  components/search-input.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/aimags.ts
  lib/hooks/districts.ts
  lib/hooks/index.ts
  lib/hooks/khoroos.ts
  lib/hooks/listings-views.ts
  lib/hooks/listings.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed.ts
  public/icons/7486744.png
  schema.zmodel
Due: bash -c 'npm run type-check', prettier --write

feat: Добавлена страница создания объявлений с загрузкой фото
  .claude/settings.local.json
  app/admin/categories/page.tsx
  app/admin/layout.tsx
  app/listings/create/page.tsx
  components/image-upload.tsx
  lib/storage/listings.ts
  lib/utils/slug.ts
  package-lock.json
Due: bash -c 'npm run type-check', prettier --write

feat: Добавлена страница создания объявлений
  .gitignore
  app/services/create/page.tsx
  docs/MCP_PLAYWRIGHT.md
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/create-listing.spec.ts
Due: bash -c 'npm run type-check', prettier --write

feat: add performance optimizations and full-text search
  OPTIMIZATION_ROADMAP.md
  app/api/listings/[id]/view/route.ts
  app/api/search/route.ts
  app/services/[id]/page.tsx
  app/services/page.tsx
  components/categories-section.tsx
  components/category-filter-modal.tsx
  components/city-select.tsx
  components/recommended-listings.tsx
  components/search-input.tsx
  hooks/use-realtime-listings.ts
  hooks/use-realtime-views.ts
  hooks/use-search.ts
  lib/hooks/__model_meta.ts
  prisma/schema.prisma
  providers/query-provider.tsx
  schema.zmodel
Due: bash -c 'npm run type-check', prettier --write

perf: optimize database queries and add client-side caching
  app/account/[name]/page.tsx
  app/account/me/page.tsx
  app/api/search/route.ts
  app/services/page.tsx
  components/recommended-listings.tsx
  hooks/use-current-user.ts
  hooks/use-educations.ts
  hooks/use-work-experiences.ts
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

feat: implement favorites system with database persistence
  __tests__/contexts/favorites-context.test.tsx
  app/favorites/page.tsx
  app/services/[id]/page.tsx
  components/listing-card.tsx
  components/mobile-bottom-nav.tsx
  components/service-card.tsx
  contexts/favorites-context.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/index.ts
  lib/hooks/listings.ts
  lib/hooks/user-favorites.ts
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

fix: simplify categories include query
  app/services/create/page.tsx
Due: bash -c 'npm run type-check'

feat: modernize UI and add image lightbox functionality
  app/api/listings/[id]/view/route.ts
  app/api/listings/images/route.ts
  app/api/search/route.ts
  app/favorites/page.tsx
  app/layout.tsx
  app/services/[id]/page.tsx
  app/services/create/page.tsx
  components/address-select-modal.tsx
  components/category-select-modal.tsx
  components/image-lightbox.tsx
  components/image-upload.tsx
  components/listing-card.tsx
  components/mobile-bottom-nav.tsx
  components/search-input.tsx
  components/service-request-modal.tsx
  contexts/favorites-context.tsx
  hooks/use-batch-create-images.ts
  lib/hooks/__model_meta.ts
  lib/prisma.ts
  lib/storage/listings.ts
  lib/utils.ts
  package-lock.json
  package.json
  prisma/clean-locations.ts
  prisma/schema.prisma
  prisma/seed.ts
  schema.zmodel
Due: bash -c 'npm run type-check', prettier --write

perf: comprehensive performance optimizations
  __tests__/contexts/favorites-context.test.tsx
  app/api/search/route.ts
  app/services/[id]/page.tsx
  app/services/create/page.tsx
  components/city-select.tsx
  components/listing-card.tsx
  components/recommended-listings.tsx
  components/search-input.tsx
  components/service-card.tsx
  contexts/favorites-context.tsx
  hooks/use-search.ts
  jest.config.mjs
  lib/formatters.ts
  lib/react-query-config.ts
  prisma/enhanced.ts
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

feat: add My Services page (/account/me/services)
  app/account/me/page.tsx
  app/account/me/services/page.tsx
  components/ui/alert-dialog.tsx
  package.json
  pnpm-lock.yaml
Due: bash -c 'npm run type-check', prettier --write

fix: add error handling and toast notifications to My Services page
  app/account/me/services/page.tsx
Due: bash -c 'npm run type-check'

fix: improve My Services page UI and fix nested link issue
  app/account/me/services/page.tsx
  components/ui/table.tsx
Due: bash -c 'npm run type-check'

feat: standardize page structure and improve LoginPromptModal
  app/account/me/services/page.tsx
  app/favorites/page.tsx
  app/services/create/page.tsx
  components/footer.tsx
  components/login-prompt-modal.tsx
  components/service-request-modal.tsx
Due: bash -c 'npm run type-check'

refactor: restructure URL paths under /account/me/
  app/account/me/favorites/page.tsx
  app/account/me/notifications/page.tsx
  app/account/me/page.tsx
  app/account/me/requests/page.tsx
  app/robots.ts
  app/sitemap.ts
  components/favorites-button.tsx
  components/footer.tsx
  components/mobile-bottom-nav.tsx
  components/requests-button.tsx
  next.config.ts
Due: bash -c 'npm run type-check'

feat: add location management (aimags, districts, khoroos) with admin panel
  .gitignore
  app/admin/aimags/page.tsx
  app/admin/districts/page.tsx
  app/admin/khoroos/page.tsx
  hooks/use-current-user.ts
  lib/hooks/__model_meta.ts
  lib/hooks/aimags.ts
  lib/hooks/districts.ts
  lib/hooks/index.ts
  lib/hooks/khoroos.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  schema.zmodel
  scripts/set-admin.ts
Due: bash -c 'npm run type-check', prettier --write

feat: add provider type filter and fix infinite update loop
  app/services/page.tsx
  components/city-select.tsx
  components/ui/radio-group.tsx
  contexts/favorites-context.tsx
  next.config.ts
  package-lock.json
  package.json
Due: bash -c 'npm run type-check', prettier --write

feat: add listing requests system and migrate APIs to ZenStack hooks
  app/account/me/requests/page.tsx
  app/account/me/settings/page.tsx
  app/api/listings/images/route.ts
  app/api/notifications/settings/route.ts
  app/api/notifications/subscribe/route.ts
  app/api/notifications/unsubscribe/route.ts
  app/services/[id]/page.tsx
  components/notification-prompt.tsx
  components/request-form.tsx
  hooks/use-batch-create-images.ts
  hooks/use-notification-settings.ts
  hooks/use-push-subscription.ts
  lib/hooks/__model_meta.ts
  lib/hooks/index.ts
  lib/hooks/listing-requests.ts
  pnpm-lock.yaml
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check'

feat: add work hours, schedule booking, address map, and active requests sidebar
  app/account/[name]/page.tsx
  app/account/me/favorites/page.tsx
  app/account/me/page.tsx
  app/account/me/requests/page.tsx
  app/account/me/settings/page.tsx
  app/admin/categories/page.tsx
  app/api/listings/[id]/view/route.ts
  app/api/schedule/route.ts
  app/api/search/route.ts
  app/services/[id]/page.tsx
  app/services/create/page.tsx
  app/services/page.tsx
  components/active-requests-sidebar.tsx
  components/address-map-leaflet.tsx
  components/address-map.tsx
  components/address-select-modal.tsx
  components/auth-modal.tsx
  components/auth/user-menu.tsx
  components/listing-card.tsx
  components/mobile-bottom-nav.tsx
  components/recommended-listings.tsx
  components/request-form.tsx
  components/requests-button.tsx
  components/search-input.tsx
  components/service-request-modal.tsx
  contexts/auth-context.tsx
  contexts/messages-context.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/listing-requests.ts
  lib/hooks/listings.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  schema.zmodel
Due: bash -c 'npm run type-check', prettier --write

feat: add service type (on_site/remote) and image upload for requests
  app/account/me/requests/page.tsx
  app/services/[id]/page.tsx
  app/services/create/page.tsx
  components/request-form.tsx
  lib/hooks/__model_meta.ts
  lib/hooks/listing-requests.ts
  lib/hooks/listings.ts
  lib/storage/requests.ts
  prisma/schema.prisma
  schema.zmodel
  scripts/apply-requests-storage.ts
Due: bash -c 'npm run type-check'

perf: optimize homepage with SSR and reduce bundle size
  app/layout.tsx
  app/page.tsx
  components/categories-section-ssr.tsx
  components/recommended-listings-ssr.tsx
  contexts/messages-context.tsx
Due: bash -c 'npm run type-check'

perf: lazy-load MessagesProvider for guests
  app/layout.tsx
  components/lazy-providers.tsx
  contexts/messages-context.tsx
Due: bash -c 'npm run type-check'

perf: optimize /services page with SSR and performance improvements
  app/services/page.tsx
  components/services-filters.tsx
  components/services-list-client.tsx
Due: bash -c 'npm run type-check'

perf: optimize /services/[id] with SSR, SEO and performance
  app/services/[id]/page.tsx
  components/service-detail-client.tsx
Due: bash -c 'npm run type-check'

perf: optimize /services/create with SSR and code refactoring
  app/services/create/page.tsx
  components/create-listing-client.tsx
  hooks/use-listing-images.ts
  lib/schemas/listing.ts
  lib/utils/rate-limit.ts
Due: bash -c 'npm run type-check'

perf: optimize /account/me with component splitting and lazy loading
  app/account/me/page.tsx
  components/my-profile-client.tsx
  components/ui/autocomplete-input.tsx
  lib/data/suggestions.ts
Due: bash -c 'npm run type-check'

Path conditions:
  bash -c 'npm run type-check': any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
